openapi: 3.0.3
info:
  title: Mastercard Open Banking APIs
  description: >-
    OpenAPI specification for Mastercard Open Banking APIs (Australia)


    [![](https://mstr.cd/320oUJL)](https://developer.mastercard.com)
  contact:
    name: API Support
    email: apisupport@mastercard.com
    url: 'https://developer.mastercard.com/support'
  version: 1.10.1
servers:
  - url: 'https://api.openbanking.mastercard.com.au'
    description: Mastercard Open Banking Australia
tags:
  - name: Accounts
    description: Fetch or refresh customer accounts
  - name: Application Registration
    description: APIs to manage partner’s applications
  - name: Authentication
    description: Generate authentication tokens and manage credentials
  - name: Connect 🔗
    description:
      Allow customers to log into their financial institutions and grant
      Mastercard Open Banking authorization
  - name: Consumers
    description:
      Create and manage consumers associated with customers in order to use
      report services
  - name: Customers
    description: Enroll and manage customers
  - name: Institutions
    description: Search and fetch financial institutions
  - name: Payments
    description: Fetch money transfer details and account balances
  - name: 'Report Generation: Cash Flow'
    description: Generate cash flow reports asynchronously
  - name: 'Report Generation: Verify Assets'
    description: Generate asset reports asynchronously
  - name: 'Report Generation: Verify Income'
    description: Generate income reports asynchronously
  - name: Reports
    description: Fetch generated reports when ready
  - name: Transactions
    description:
      Fetch customer and account transactions and generate reports
      asynchronously
  - name: Webhook Notifications
    description: Manage webhook notification subscriptions
  - name: App Registration
    description: Register and assign apps to customers
security:
  - AppKey: []
  - AppToken: []
paths:
  /aggregation/v2/partners/authentication:
    post:
      tags:
        - Authentication
      summary: Create Access Token
      description: >-
        Send Partner ID and Partner Secret to the Partner Authentication service
        to obtain a token for accessing Mastercard Open Banking APIs.

        * The token is valid for two hours and is required on all calls to the
        Mastercard Open Banking APIs

        * As a best practice, use a single token for all calls. Assign a
        timestamp for each token, and then check the current timestamp before
        making any calls. If the token is greater than 90 minutes, generate a
        new one.

        * ⚠️ After five failed attempts to authenticate, your account will be
        locked. Contact
        [apisupport@mastercard.com](mailto:apisupport@mastercard.com) to get
        help resetting your account.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: CreateToken
      requestBody:
        $ref: '#/components/requestBodies/CreateTokenRequest'
      responses:
        '200':
          $ref: '#/components/responses/CreateTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/AuthenticationUnauthorizedErrorResponse'
      security:
        - AppKey: []
  /connect/v2/generate:
    post:
      tags:
        - Connect 🔗
      summary: Generate Connect URL
      description: >-
        Generate a Connect 2.0 URL link to add within your own applications.


        Use the `experience` parameter to call Connect (per session) in the body
        of the request. Configure the `experience` parameter to change the brand
        color, logo, icon, which credit decisioning report to generate when the
        Connect application completes, and more.


        Note: contact your Sales Account Team to set up the `experience`
        parameter.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GenerateConnectUrl
      requestBody:
        $ref: '#/components/requestBodies/GenerateConnectUrlRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenerateConnectUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /connect/v2/generate/consent/manage:
    post:
      tags:
        - Connect 🔗
      summary: Generate Connect Dashboard URL
      operationId: GenerateConnectDashboardUrl
      description: >-
        Generate a Connect Dashboard URL link to manage consents within your own
        applications.


        Use the `experience` parameter to call Connect (per session) in the body
        of the request. Configure the `experience` parameter to change the brand
        color, logo, icon, which credit decisioning report to generate when the
        Connect application completes, and more.


        Note: contact your Sales Account Team to set up the `experience`
        parameter.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      requestBody:
        $ref: '#/components/requestBodies/GenerateConnectDashboardUrlRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenerateConnectDashboardUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /connect/v2/generate/lite:
    post:
      tags:
        - Connect 🔗
      summary: Generate Lite Connect URL
      description: >-
        Connect Lite is a minimalistic implementation of the Connect Full
        experience, providing a limited  set of features. Connect Lite is a
        useful option if you want to handle the selection of Financial
        Institution and Account(s) in your own user experience.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GenerateConnectLiteUrl
      requestBody:
        $ref: '#/components/requestBodies/GenerateConnectLiteUrlRequest'
      responses:
        '200':
          $ref: '#/components/responses/GenerateConnectUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /aggregation/v2/customers/testing:
    post:
      tags:
        - Customers
      summary: Add Testing Customer
      description: >-
        Enroll a testing customer ([Test
        Drive](https://developer.mastercard.com/open-banking-au/documentation/quick-start-guide/)
        accounts).


        Testing customers should be assigned to test OAuth applications. This
        should add accounts to Finbank OAuth for OAuth implementation.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: AddTestingCustomer
      requestBody:
        $ref: '#/components/requestBodies/AddTestingCustomerRequest'
      responses:
        '201':
          $ref: '#/components/responses/AddCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /aggregation/v2/customers/active:
    post:
      tags:
        - Customers
      summary: Add Customer
      description: >-
        Enroll an active customer, which is the actual owner of one or more
        real-world accounts. This is a billable customer.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: AddCustomer
      requestBody:
        $ref: '#/components/requestBodies/AddCustomerRequest'
      responses:
        '201':
          $ref: '#/components/responses/AddCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
  /aggregation/v1/customers:
    get:
      tags:
        - Customers
      summary: Get Customers
      description: >-
        Find all customers enrolled by the current partner, where the search
        text is found in the customer's username or any combination of
        `firstName` and `lastName` fields. If no search text is provided, all
        customers will be returned.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetCustomers
      parameters:
        - $ref: '#/components/parameters/CustomerUsernameParameter'
        - $ref: '#/components/parameters/CustomerTypeParameter'
        - $ref: '#/components/parameters/CustomerSearchParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomersResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  '/aggregation/v1/customers/{customerId}/application':
    get:
      tags:
        - Customers
      summary: Get Customer With App Data by ID
      description: >-
        Retrieve a customer along with additional details about the OAuth
        application.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetCustomerWithAppData
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerWithAppDataResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v1/customers/{customerId}':
    get:
      tags:
        - Customers
      summary: Get Customer by ID
      description: >-
        Retrieve a customer by ID.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetCustomer
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
    put:
      tags:
        - Customers
      summary: Modify Customer by ID
      description: >-
        Modify an enrolled customer by ID.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: ModifyCustomer
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/ModifyCustomerRequest'
      responses:
        '204':
          $ref: '#/components/responses/ModifyCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
    delete:
      tags:
        - Customers
      summary: Delete Customer by ID
      description: >-
        Completely remove a customer from the system. This will remove the
        customer and all associated accounts and transactions.


        ⚠️ Use this service carefully! It will not pause for confirmation before
        performing the operation!


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: DeleteCustomer
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '204':
          $ref: '#/components/responses/DeleteCustomerResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/decisioning/v1/customers/{customerId}/consumer':
    post:
      tags:
        - Consumers
      summary: Create Consumer
      description: >-
        Create a consumer record associated with the given customer. A consumer
        persists as the owner of any reports that are generated, even after the
        original customer is deleted from the system.


        A consumer must be created for the given customer before calling any of
        the "Generate Report" services.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: CreateConsumer
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/CreateConsumerRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
    get:
      tags:
        - Consumers
      summary: Get Consumer For Customer
      description: >-
        Get the details of a consumer record by customer ID.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetConsumerForCustomer
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetConsumerForCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/decisioning/v1/consumers/{consumerId}':
    get:
      tags:
        - Consumers
      summary: Get Consumer by ID
      description: >-
        Get the details of a consumer record by consumer ID.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetConsumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
    put:
      tags:
        - Consumers
      summary: Update Consumer by ID
      description: >-
        Modify an existing consumer. All fields are required for a consumer
        record, but individual fields for this call are optional because fields
        that are not specified will be left unchanged.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: ModifyConsumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/ModifyConsumerRequest'
      responses:
        '204':
          $ref: '#/components/responses/ModifyConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v1/customers/{customerId}/institutionLogins/{institutionLoginId}/accounts':
    get:
      tags:
        - Accounts
      summary: Get Customer Accounts by Institution Login ID
      description: >-
        Get all accounts associated with the given institution login. All
        accounts returned are accessible by a single set of credentials on a
        single institution.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetCustomerAccountsByInstitutionLogin
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/InstitutionLoginIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
    post:
      tags:
        - Accounts
      summary: Refresh Customer Accounts by Institution Login ID
      description: >-
        Refresh account and transaction data for all accounts associated with a
        given `institutionLoginId` with a connection to the institution.


        Client apps are not permitted to automate calls to the "Refresh"
        services. Active accounts are automatically refreshed by Mastercard Open
        Banking once per day. Because many financial institutions only post
        transactions once per day, calling Refresh repeatedly is usually a waste
        of resources and is not recommended.


        Apps may call "Refresh" services for a specific customer when there is a
        specific business case for the need of data that is up to date as of the
        moment. Please discuss with your account manager and systems engineer
        for further clarification.


        The recommended timeout setting for this request is 120 seconds in order
        to receive a response. However, you can terminate the connection after
        making the call the operation will still complete. You will have to pull
        the account records to check for an updated aggregation attempt date to
        know when the refresh is complete.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: RefreshCustomerAccountsByInstitutionLogin
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/InstitutionLoginIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/RefreshCustomerAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v1/customers/{customerId}/accounts/{accountId}':
    get:
      tags:
        - Accounts
      summary: Get Customer Account by ID
      description: >-
        Get a customer account by ID.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetCustomerAccount
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v1/customers/{customerId}/accounts':
    get:
      tags:
        - Accounts
      summary: Get Customer Accounts
      description: >-
        Get all accounts owned by the given customer.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetCustomerAccounts
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountStatusParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v1/customers/{customerId}/institutions/{institutionId}/accounts':
    get:
      tags:
        - Accounts
      summary: Get Customer Accounts by Institution ID
      description: >-
        Get all active accounts owned by the given customer at the given
        institution.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetCustomerAccountsByInstitution
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/InstitutionIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v1/customers/{customerId}/accounts/{accountId}/transactions/historic':
    post:
      tags:
        - Transactions
      summary: Load Historic Transactions for Customer Account
      description: >-
        Connect to the account's financial institution and load up to 12 months
        of historic transactions for the account. Length of history varies by
        institution.


        This is a premium service. The billable event is a call to this service
        specifying a customer ID that has not been seen before by this service.
        (If this service is called multiple times with the same customer ID, to
        load transactions from multiple accounts, only one billable event has
        occurred.)


        The recommended timeout setting for this request is 180 seconds in order
        to receive a response. However, you can terminate the connection after
        making the call the operation will still complete. You will have to pull
        the account records to check for an updated aggregation attempt date to
        know when the refresh is complete.


        The date range sent to the institution is calculated from the account's
        `createdDate`. This means that calling this service a second time for
        the same account normally will not add any new transactions for the
        account. For this reason, a second call to this service for a known
        account ID will usually return immediately.


        In a few specific scenarios, it may be desirable to force a second
        connection to the institution for a known account ID. Some examples are:


        * The institution's policy has changed, making more transactions
        available

        * Mastercard Open Banking has now added a longer transaction history
        support for the institution

        * The first call encountered an error, and the resulting Aggregation
        Ticket has now been fixed by the Mastercard Open Banking Support Team


        In these cases, the POST request can contain the parameter `force=true`
        in the request body to force the second connection.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: LoadHistoricTransactionsForCustomerAccount
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '203':
          $ref: '#/components/responses/MFAChallengeNeededResponse'
        '204':
          $ref: '#/components/responses/LoadHistoricTransactionsForCustomerAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v3/customers/{customerId}/accounts/{accountId}/owner':
    get:
      tags:
        - Accounts
      summary: Get Account Owner
      description: >-
        Retrieve the names and addresses of the account owner from a financial
        institution.


        Note: this is a premium service, billable per every successful API call.


        This service retrieves account data from the institution. This usually
        returns quickly, but in some scenarios may take a few minutes to
        complete. In the event of a timeout condition, retry the call.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetAccountOwner
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetAccountOwnerResponse'
        '203':
          $ref: '#/components/responses/MFAChallengeNeededResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /aggregation/v2/partners/applications:
    get:
      tags:
        - App Registration
      summary: Get App Registration Status
      description: >-
        Get the status of your application registration(s).


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetAppRegistrationStatus
      parameters:
        - $ref: '#/components/parameters/ApplicationIdQueryParameter'
        - $ref: '#/components/parameters/AppRegistrationStatusParameter'
        - $ref: '#/components/parameters/ApplicationNameParameter'
        - $ref: '#/components/parameters/ResultPageParameter'
        - $ref: '#/components/parameters/ResultPageSizeParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetAppRegistrationStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /institution/v2/institutions:
    get:
      tags:
        - Institutions
      summary: Get Institutions
      description: >-
        Search for financial institutions.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetInstitutions
      parameters:
        - $ref: '#/components/parameters/InstitutionSearchParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/ProductTypeParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetInstitutionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /institution/v2/certifiedInstitutions:
    get:
      tags:
        - Institutions
      summary: 'Get Certified Institutions'
      description: >-
        Search for financial institutions by certified product.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetCertifiedInstitutions
      parameters:
        - $ref: '#/components/parameters/InstitutionSearchParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/ProductTypeParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetCertifiedInstitutionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  '/institution/v2/institutions/{institutionId}':
    get:
      tags:
        - Institutions
      summary: Get Institution by ID
      description: >-
        Get financial institution details by ID.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetInstitution
      parameters:
        - $ref: '#/components/parameters/InstitutionIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetInstitutionResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/institution/v2/institutions/{institutionId}/branding':
    get:
      tags:
        - Institutions
      summary: Get Institution Branding by ID
      description: >-
        Return the branding information for a financial institution.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetInstitutionBranding
      parameters:
        - $ref: '#/components/parameters/InstitutionIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetInstitutionBrandingResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/decisioning/v2/customers/{customerId}/voa':
    post:
      tags:
        - 'Report Generation: Verify Assets'
      summary: Generate VOA Report
      description: >-
        Generate a Verification of Assets (VOA) report for all transaction &
        savings, money market and investment accounts for the given customer.
        This service retrieves up to six months of transaction history for each
        account and uses this information to generate the VOA report.


        This is a premium service. The billing rate is the variable rate for
        Verification of Assets under the current subscription plan. The billable
        event is the successful generation of a VOA report.


        A report consumer must be created for the given customer before calling
        this API (see "Consumers").


        If no account is found for type checking, savings, money market, or
        investment, the service will return HTTP 400 Bad Request.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GenerateVOAReport
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      requestBody:
        $ref: '#/components/requestBodies/GenerateReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateReportResponseVoa'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/decisioning/v2/customers/{customerId}/voi':
    post:
      tags:
        - 'Report Generation: Verify Income'
      summary: Generate VOI Report
      description: >-
        Generate a Verification of Income (VOI) report for all
        checking/transaction, savings, and money market accounts for the given
        customer. This service retrieves up to 12 months of transaction history
        for each account and uses this information to generate the VOI report.


        This is a premium service. The billing rate is the variable rate for
        Verification of Income under the current subscription plan. The billable
        event is the successful generation of a VOI report.


        If no account of type checking/transaction, savings, or money market is
        found, the service will return HTTP 400 Bad Request.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GenerateVOIReport
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      requestBody:
        $ref: '#/components/requestBodies/GenerateReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateReportResponseVoi'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v3/customers/{customerId}/transactions':
    get:
      tags:
        - Transactions
      summary: Get All Customer Transactions
      description: >-
        Get all transactions available for this customer within the given date
        range, across all accounts. This service supports paging and sorting by
        `transactionDate` (or `postedDate` if no transaction date is provided),
        with a maximum of 1000 transactions per request.


        Standard consumer aggregation provides up to 180 days of transactions
        prior to the date each account was added to the Mastercard Open Banking
        system. To access older transactions, you must first call the service
        Load Historic Transactions for Account.


        There is no limit for the size of the window between `fromDate` and
        `toDate`, however, the maximum number of transactions returned on one
        page is 1000.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetAllCustomerTransactions
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/RequiredFromDateParameter'
        - $ref: '#/components/parameters/RequiredToDateParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/IncludePendingParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerTransactionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v2/customers/{customerId}/transactions/{transactionId}':
    get:
      tags:
        - Transactions
      summary: Get Customer Transaction by ID
      description: >-
        Get details for the given transaction.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetCustomerTransaction
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/TransactionIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerTransactionResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v3/customers/{customerId}/accounts/{accountId}/transactions':
    get:
      tags:
        - Transactions
      summary: Get Customer Account Transactions
      description: >-
        Get all transactions available for this customer account within the
        given date range. This service supports paging and sorting by
        `transactionDate` (or `postedDate` if no transaction date is provided),
        with a maximum of 1000 transactions per request.


        Standard consumer aggregation provides up to 180 days of transactions
        prior to the date each account was added to the Mastercard Open Banking
        system. To access older transactions, you must first call the Cash Flow
        Verification service Load Historic Transactions for Account.


        There is no limit for the size of the window between `fromDate` and
        `toDate`, however, the maximum number of transactions returned on one
        page is 1000.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetCustomerAccountTransactions
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
        - $ref: '#/components/parameters/RequiredFromDateParameter'
        - $ref: '#/components/parameters/RequiredToDateParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
        - $ref: '#/components/parameters/SortParameter'
        - $ref: '#/components/parameters/IncludePendingParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerTransactionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v3/customers/{customerId}/accounts/{accountId}/details':
    get:
      tags:
        - Payments
      summary: Get Money Transfer Details
      description: >-
        Return the account number and bank routing number details based on
        market.


        Note: this is a premium service, billable per every successful API call.


        _Supported account types_: "transaction", "savings"


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetMoneyTransferDetails
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetMoneyTransferDetailsResponse'
        '400':
          $ref: '#/components/responses/GetMoneyTransferDetailsBadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/decisioning/v4/customers/{customerId}/reports/{reportId}':
    get:
      tags:
        - Reports
      summary: Get Report by Customer Id and report Id
      description: >-
        Get a report that has been generated by calling one of the "Generate
        Report" services.


        The report's status field will contain `inProgress`, `failure`, or
        `success`. If the status shows `inProgress`, the client app should wait
        20 seconds and then call this endpoint again.


        Report data can either be retrieved as a JSON document or a PDF file. To
        specify the format required, set the _Accept request header_ to either
        **application/json** or **application/pdf**. If neither is set, the
        report format will be returned as a JSON document.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetReportByCustomer
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/decisioning/v1/customers/{customerId}/reports':
    get:
      tags:
        - Reports
      summary: Get Reports by Customer
      description: >-
        Get all reports that have been generated by calling one of the "Generate
        Report" services for the given customer.


        The report's status field will contain `inProgress`, `failure`, or
        `success`. If the status shows `inProgress`, the client app should wait
        20 seconds and then call this endpoint again.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetReportsByCustomer
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetReportsByCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
  '/decisioning/v1/consumers/{consumerId}/reports':
    get:
      tags:
        - Reports
      summary: Get Reports by Consumer
      description: >-
        Get a report that has been generated by calling one of the "Generate
        Report" services.


        The report's status field will contain `inProgress`, `failure`, or
        `success`. If the status shows `inProgress`, the client app should wait
        20 seconds and then call this endpoint again.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetReportsByConsumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetReportsByConsumerResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsErrorResponse'
  '/decisioning/v4/consumers/{consumerId}/reports/{reportId}':
    get:
      tags:
        - Reports
      summary: Get Report by Consumer and ID
      description: >-
        Get a report that has been generated by calling one of the "Generate
        Report" services.


        The report's status field will contain `inProgress`, `failure`, or
        `success`. If the status shows `inProgress`, the client app should wait
        20 seconds and then call this endpoint again.


        Report data can either be retrieved as a JSON document or a PDF file. To
        specify the format required, set the _Accept request header_ to either
        **application/json** or **application/pdf**. If neither is set, the
        report format will be returned as a JSON document.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetReportByConsumer
      parameters:
        - $ref: '#/components/parameters/ConsumerIdParameter'
        - $ref: '#/components/parameters/ReportIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetReportResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v1/customers/{customerId}/accounts/{accountId}/availableBalance/live':
    get:
      tags:
        - Payments
      summary: Get Available Balance - Live
      description: >-
        Retrieve the available and cleared account balances for a single account
        in real-time directly from a financial institution.


        Note: this is a premium service, billable per every successful API call.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetAvailableBalanceLive
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetAvailableBalanceLiveResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/aggregation/v1/customers/{customerId}/accounts/{accountId}/availableBalance':
    get:
      tags:
        - Payments
      summary: Get Available Balance
      description: >-
        Retrieve the latest cached available and cleared account balances for a
        customer. Since we update and store balances throughout the day, this is
        the most accurate balance information available when a connection to a
        financial institution is unavailable or when a faster response is
        needed.


        Note: this is a premium service, billable per every successful API call.
        Enrollment is required.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetAvailableBalance
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/AccountIdParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      responses:
        '200':
          $ref: '#/components/responses/GetAvailableBalanceResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/decisioning/v2/customers/{customerId}/cashFlowBusiness':
    post:
      tags:
        - 'Report Generation: Cash Flow'
      summary: Generate Cash Flow Report - Business
      description: >-
        Generate a Cash Flow Report (Business) report for all
        checking/transaction and savings under the given customer. This service
        retrieves up to 12 months of transaction history for the given account.
        It then uses this information to generate the CFR report. A consumer is
        not required to generate this report.


        If no account of type checking/transaction or savings is found, the
        service will return HTTP 400 Bad Request.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GenerateCashFlowBusinessReport
      parameters:
        - $ref: '#/components/parameters/CustomerIdParameter'
        - $ref: '#/components/parameters/ReportCallbackUrlParameter'
        - $ref: '#/components/parameters/ConsentReceiptIdHeader'
      requestBody:
        $ref: '#/components/requestBodies/GenerateReportRequest'
      responses:
        '202':
          $ref: '#/components/responses/GenerateReportResponseCfrb'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/notifications/webhooks/subscriptions':
    post:
      tags:
        - Webhook Notifications
      summary: Create Subscription For Webhook Notification.
      description: >-
        Subscribe to webhook notification by providing subscription details.


        Upon successful subscription, webhook notification will be delivered on
        provided URL.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: CreateWebhookSubscription
      requestBody:
        $ref: '#/components/requestBodies/CreateWebhookSubscriptionRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateWebhookSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
    get:
      tags:
        - Webhook Notifications
      summary: Get All Subscriptions For Webhook Notification.
      description: >-
        Get all webhook notification subscriptions. By default it will return
        all subscriptions. You can filter specific subscription using status
        value.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetWebhookSubscriptions
      parameters:
        - $ref: '#/components/parameters/WebhookSubscriptionStatusParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/LimitParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetAllWebhookSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  '/notifications/webhooks/subscriptions/{subscription_id}':
    get:
      tags:
        - Webhook Notifications
      summary: Get Subscription For Webhook Notification.
      description: >-
        Get the subscription details by webhook notification subscription ID


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: GetWebhookSubscription
      parameters:
        - $ref: '#/components/parameters/WebhookSubscriptionIdParameter'
      responses:
        '200':
          $ref: '#/components/responses/GetWebhookSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  '/notifications/webhooks/subscriptions/{subscription_id}/url':
    put:
      tags:
        - Webhook Notifications
      summary: Update Subscription URL For Webhook Notification.
      description: >-
        Update subscription by providing new subscription details.


        Upon successful subscription update, webhook notification will be
        delivered on updated URL.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: updateWebhookSubscription
      parameters:
        - $ref: '#/components/parameters/WebhookSubscriptionIdParameter'
      requestBody:
        $ref: '#/components/requestBodies/UpdateWebhookSubscriptionRequest'
      responses:
        '204':
          description: Subscription successfully updated.
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /applications:
    get:
      tags:
        - Application Registration
      summary: Get applications details
      description: >-
        Get the status of the submitted application(s) as well as additional
        details associated with it.



        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: getApplications
      parameters:
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/ApplicationLimitParameter'
        - $ref: '#/components/parameters/ApplicationIdParameter'
        - $ref: '#/components/parameters/AppNameParameter'
        - $ref: '#/components/parameters/AppStatusParameter'
      responses:
        '200':
          $ref: '#/components/responses/AppResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
    post:
      tags:
        - Application Registration
      summary: Submit application
      description: >-
        Submit a registration request for a new application to access financial
        institutions.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: RegisterApp
      requestBody:
        $ref: '#/components/requestBodies/RegisterAppRequest'
      responses:
        '201':
          $ref: '#/components/responses/RegisterAppResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
  /applications/{application_id}:
    put:
      tags:
        - Application Registration
      summary: Modify application
      description: >-
        Update details of a submitted application.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: ModifyApp
      parameters:
        - $ref: '#/components/parameters/AppIdPathParameter'
      requestBody:
        $ref: '#/components/requestBodies/ModifyAppRequest'
      responses:
        '200':
          $ref: '#/components/responses/ModifyAppRegistrationResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
  /applications/{application_id}/institutions:
    get:
      tags:
        - Application Registration
      summary: Get institutions activation status
      description: >-
        Get the status of the application registration with the financial
        institutions. The status is available only if the application is
        approved.


        _Supported regions_: ![🇦🇺](https://flagcdn.com/20x15/au.png)
      operationId: getRegisteredInstitutions
      parameters:
        - $ref: '#/components/parameters/AppIdPathParameter'
        - $ref: '#/components/parameters/StartParameter'
        - $ref: '#/components/parameters/InstitutionLimitParameter'
        - $ref: '#/components/parameters/InstitutionIdPathParameter'
      responses:
        '200':
          $ref: '#/components/responses/InstitutionsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '404':
          $ref: '#/components/responses/ResourceNotFoundErrorResponse'
components:
  securitySchemes:
    AppKey:
      name: App-Key
      type: apiKey
      in: header
      description: The "App-Key" from the developer dashboard
    AppToken:
      name: App-Token
      type: apiKey
      in: header
      description: A token returned by the `/authentication` endpoint
  requestBodies:
    CreateTokenRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PartnerCredentials'
    GenerateConnectUrlRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConnectParameters'
    GenerateConnectDashboardUrlRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConnectDashboardParameters'
    GenerateConnectLiteUrlRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConnectLiteParameters'
    AddCustomerRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NewCustomer'
    AddTestingCustomerRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NewTestingCustomer'
    ModifyCustomerRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerUpdate'
    CreateConsumerRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NewConsumer'
    ModifyConsumerRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConsumerUpdate'
    GenerateReportRequest:
      required: false
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReportConstraints'
    CreateWebhookSubscriptionRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NewSubscription'
    UpdateWebhookSubscriptionRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubscriptionUrl'
    RegisterAppRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Application'
    ModifyAppRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Application'
  responses:
    CreateTokenResponse:
      description: The access token was successfully created
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccessToken'
    GenerateConnectUrlResponse:
      description: The URL link was successfully generated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConnectUrl'
    GenerateConnectDashboardUrlResponse:
      description: The URL link was successfully generated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConnectUrl'
    AddCustomerResponse:
      description: The customer was successfully created
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreatedCustomer'
    GetCustomersResponse:
      description: Customers were successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Customers'
    GetCustomerResponse:
      description: The customer was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Customer'
    GetCustomerWithAppDataResponse:
      description: The customer was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerWithAppData'
    ModifyCustomerResponse:
      description: The customer was successfully updated
    DeleteCustomerResponse:
      description: The customer was successfully deleted
    CreateConsumerResponse:
      description: The consumer was successfully created
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreatedConsumer'
    GetConsumerForCustomerResponse:
      description: The consumer was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Consumer'
    GetConsumerResponse:
      description: The consumer was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Consumer'
    ModifyConsumerResponse:
      description: The consumer was successfully updated
    GetCustomerAccountsResponse:
      description: The account list was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerAccounts'
          examples:
            CustomerAccountsResponseExample:
              $ref: '#/components/examples/CustomerAccountsResponseExample'
    RefreshCustomerAccountsResponse:
      description: The account list was successfully refreshed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerAccounts'
          examples:
            CustomerAccountsResponseExample:
              $ref: '#/components/examples/CustomerAccountsResponseExample'
    LoadHistoricTransactionsForCustomerAccountResponse:
      description:
        Historic transactions have been loaded successfully. The transactions
        are now available by calling "Get Customer Account Transactions".
    GetCustomerAccountResponse:
      description: The account was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerAccount'
          examples:
            CustomerAccountResponseExample:
              $ref: '#/components/examples/CustomerAccountResponseExample'
    GetAccountOwnerResponse:
      description: The account owner was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountOwnerHolder'
          examples:
            AccountOwnerResponseExample:
              $ref: '#/components/examples/AccountOwnerResponseExample'
    MFAChallengeNeededResponse:
      description:
        The response contains an MFA challenge in XML or JSON format. Contact
        your Account Manager or Systems Engineers to determine the best route to
        handle this error.
    GetAppRegistrationStatusResponse:
      description: The app registration statuses were returned
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppStatuses'
    GetCertifiedInstitutionsResponse:
      description: Institutions were successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CertifiedInstitutions'
    GetInstitutionResponse:
      description: Institution was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InstitutionWrapper'
    GetInstitutionsResponse:
      description: Institutions were successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Institutions'
    GetInstitutionBrandingResponse:
      description: Institution branding was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BrandingWrapper'
    GenerateReportResponseVoa:
      description:
        "The report is being generated. When finished, a notification will be
        sent to the specified callback URL (Report Listener Service) and the
        report can be fetched using 'Get Report' endpoints. If you don't use a
        callback URL, 'Get Report' will return a minimal report with the
        following status: `inProgress`. Repeat the call every 20 seconds until
        'Get Report' returns a different status."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReportData'
          examples:
            ReportDataVoa:
              $ref: '#/components/examples/ReportDataVoaExample'
    GenerateReportResponseVoi:
      description:
        "The report is being generated. When finished, a notification will be
        sent to the specified callback URL (Report Listener Service) and the
        report can be fetched using 'Get Report' endpoints. If you don't use a
        callback URL, 'Get Report' will return a minimal report with the
        following status: `inProgress`. Repeat the call every 20 seconds until
        'Get Report' returns a different status."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReportData'
          examples:
            ReportDataVoi:
              $ref: '#/components/examples/ReportDataVoiExample'
    GenerateReportResponseCfrb:
      description:
        "The report is being generated. When finished, a notification will be
        sent to the specified callback URL (Report Listener Service) and the
        report can be fetched using 'Get Report' endpoints. If you don't use a
        callback URL, 'Get Report' will return a minimal report with the
        following status: `inProgress`. Repeat the call every 20 seconds until
        'Get Report' returns a different status."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReportDataNonCRA'
          examples:
            ReportDataCfrb:
              $ref: '#/components/examples/ReportDataCfrbExample'
    GetReportResponse:
      description: The report was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Report'
          examples:
            VOAReportExample:
              $ref: '#/components/examples/VOAReportExample'
            VOIReportExample:
              $ref: '#/components/examples/VOIReportExample'
            CashFlowBusinessReportExample:
              $ref: '#/components/examples/CashFlowBusinessReportExample'
    GetReportsByCustomerResponse:
      description: The reports summaries were successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReportSummaries'
    GetReportsByConsumerResponse:
      description: The reports summaries were successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReportSummaries'
    GetCustomerTransactionsResponse:
      description: The transactions were successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Transactions'
          examples:
            TransactionsByAccountIdExample:
              $ref: '#/components/examples/TransactionsByAccountsExample'
    GetCustomerTransactionResponse:
      description: The transaction was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Transaction'
          examples:
            TransactionsByAccountIdExample:
              $ref: '#/components/examples/TransactionByAccountIdExample'
    GetMoneyTransferDetailsResponse:
      description: Account Money Transfer details were successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentInstructions'
    GetAvailableBalanceResponse:
      description: The balance was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AvailableBalance'
    GetAvailableBalanceLiveResponse:
      description: The live balance was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AvailableBalance'
          examples:
            AvailablebalanceLiveByAccountIdResponseExample:
              $ref: '#/components/examples/AvailablebalanceLiveByAccountIdResponseExample'
    AuthenticationUnauthorizedErrorResponse:
      description: >-
        The request lacks valid authentication credentials. Check Partner ID,
        Partner Secret or App-Key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
          examples:
            MissingAppKeyExample:
              $ref: '#/components/examples/MissingAppKeyExample'
            InvalidCredentialsExample:
              $ref: '#/components/examples/InvalidCredentialsExample'
    UnauthorizedErrorResponse:
      description: >-
        The request lacks valid authentication credentials. Check "App-Key" or
        "App-Token".
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
          examples:
            ExpiredTokenExample:
              $ref: '#/components/examples/ExpiredTokenExample'
            MissingAppKeyExample:
              $ref: '#/components/examples/MissingAppKeyExample'
    BadRequestErrorResponse:
      description: The request was rejected
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
          examples:
            MissingFieldExample:
              $ref: '#/components/examples/MissingFieldExample'
            InvalidFieldExample:
              $ref: '#/components/examples/InvalidFieldExample'
            InvalidExperienceFieldExample:
              $ref: '#/components/examples/InvalidExperienceFieldExample'
            GenericBadRequestExample:
              $ref: '#/components/examples/GenericBadRequestExample'
    GetMoneyTransferDetailsBadRequestErrorResponse:
      description: The request was rejected
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
          examples:
            MissingFieldExample:
              $ref: '#/components/examples/MissingFieldExample'
            InvalidFieldExample:
              $ref: '#/components/examples/InvalidFieldExample'
            GenericBadRequestExample:
              $ref: '#/components/examples/GenericBadRequestExample'
            AccountTypeNotSupportedExample:
              $ref: '#/components/examples/AccountTypeNotSupportedExample'
    TooManyRequestsErrorResponse:
      description:
        The service can't accept more requests or is not available from the
        [Test
        Drive](https://developer.mastercard.com/open-banking-au/documentation/quick-start-guide/).
    ResourceNotFoundErrorResponse:
      description: The resource doesn't exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
          examples:
            ConsumerNotFoundExample:
              $ref: '#/components/examples/ConsumerNotFoundExample'
            NoAccountForInstitutionLoginIdExample:
              $ref: '#/components/examples/NoAccountForInstitutionLoginIdExample'
            CustomerNotFoundExample:
              $ref: '#/components/examples/CustomerNotFoundExample'
            NoConsumerForCustomerExample:
              $ref: '#/components/examples/NoConsumerForCustomerExample'
            ResourceNotFoundExample:
              $ref: '#/components/examples/ResourceNotFoundExample'
            NoRegisteredApplicationExample:
              $ref: '#/components/examples/NoRegisteredApplicationExample'
    ConflictErrorResponse:
      description: The resource already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorMessage'
          examples:
            ConsumerExistsConflictExample:
              $ref: '#/components/examples/ConsumerExistsConflictExample'
    CreateWebhookSubscriptionResponse:
      description: The subscription was successfully created
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Subscription'
    GetAllWebhookSubscriptionResponse:
      description: All subscriptions were successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Subscriptions'
    GetWebhookSubscriptionResponse:
      description: The subscription was successfully retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubscriptionSummary'
    AppResponse:
      description: Response containing one or more application details.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Applications'
          examples:
            AppResponseExample:
              $ref: '#/components/examples/AppResponseExample'
    InstitutionsResponse:
      description:
        Response containing institution detail for requested pre application.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OauthInstitutions'
          examples:
            InstitutionsDetailResponseExample:
              $ref: '#/components/examples/OauthInstitutionsExample'
    RegisterAppResponse:
      description: The app registration was successfully created.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegisteredApplication'
    ModifyAppRegistrationResponse:
      description: The app registration was updated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegisteredApplication'
  examples:
    MissingAppKeyExample:
      value:
        code: 10026
        message: Missing parameter (App-Key)
    InvalidCredentialsExample:
      value:
        code: 10001
        message: Invalid credentials
    GenericBadRequestExample:
      value:
        code: 14020
        message: Bad request.
    MissingFieldExample:
      value:
        code: '10010'
        status: '400'
        message: '"partnerId" is required'
        user_message: >-
          One or more of the fields could not be validated. Please ensure you
          have entered the correct data.
    InvalidFieldExample:
      value:
        code: '10010'
        status: '400'
        message: Customer ID does not exist or does not belong to this partner
        user_message: >-
          One or more of the fields could not be validated. Please ensure you
          have entered the correct data.
    InvalidExperienceFieldExample:
      value:
        code: '10010'
        status: '400'
        message: '"experience" must be a valid GUID'
        user_message:
          'One or more of the fields could not be validated. Please ensure you
          have entered the correct data.'
    ExpiredTokenExample:
      value:
        code: '10022'
        status: '401'
        message: Invalid authorization credentials
        user_message: The session has expired or is invalid
    NoAccountForInstitutionLoginIdExample:
      value:
        code: '38007'
        status: '404'
        title: Connecting accounts error
        user_message:
          Customer does not have any accounts associated with
          institutionLoginId.
        level: 'error'
        message:
          'Customer does not have any accounts associated with
          institutionLoginId.'
    CustomerNotFoundExample:
      value:
        code: 14001
        message: 'Customer not found.'
    ConsumerNotFoundExample:
      value:
        code: 10100
        message: 'Cannot find consumer with id 1234.'
    NoConsumerForCustomerExample:
      value:
        code: 10100
        message: 'Cannot find consumer for customer with id 5011115315."'
    ResourceNotFoundExample:
      value:
        code: 14001
        message: 'Resource not found.'
    NoRegisteredApplicationExample:
      value:
        code: 50051
        message: 'No registered partner applications found.'
    ConsumerExistsConflictExample:
      value:
        code: 11000
        message: 'A consumer already exists for customer 4025024821'
    VOAReportExample:
      summary: VOA Report
      value:
        id: u4hstnnak45g
        customerId: 1000006677
        consumerId: ac39e237c7619a4ecf014b8d399c0696
        requesterName: Mastercard Open Banking Test API
        title: Mastercard Open Banking Verification of Assets
        requestId: sfb7xp439w
        type: voa
        status: success
        createdDate: 1588350269
        constraints:
          accountIds:
            - '1000535275'
            - '1000535276'
          fromDate: 1577986990
          reportCustomFields:
            - label: loanID
              value: '12345'
              shown: true
            - label: trackingID
              value: '5555'
              shown: true
            - label: loanType
              value: car
              shown: false
            - label: vendorID
              value: 1613aa23
              shown: true
            - label: vendorName
              value: PSC Finance
              shown: false
          showNsf: false
        customerType: active
        startDate: 1572625469
        endDate: 1588350269
        days: 180
        seasoned: false
        consolidatedAvailableBalance: 2345
        institutions:
          id: 101732
          name: FinBank
          urlHomeApp: https://finbank.prod.fini.city/CCBankImageMFA/login.jsp
          accounts:
            id: 1000023996
            number: '1111'
            ownerName: JOHN DOE
            ownerAddress: 924 GAINSVILLE HIGHWAY SUITE 130 BUFORD, GA 30518
            name: Checking
            type: checking
            availableBalance: 501.24
            aggregationStatusCode: 0
            balance: 501.24
            balanceDate: 1588350276
            averageMonthlyBalance: 501.02
            totNumberInsufficientFundsFeeDebitTxAccount: 0
            totNumberInsufficientFundsFeeDebitTxOver2MonthsAccount: 0
            totNumberDaysSinceMostRecentInsufficientFundsFeeDebitTxAccount: 120
            transactions:
              - id: 100000527471
                amount: 22.21
                postedDate: 1582286400
                description: FINICITY INC PAYROLL
                memo: Finicity amount credit
                normalizedPayee: Finicity
                institutionTransactionId: '100000000'
                category: Paycheck
                bestRepresentation: FINICITY INC PAYROLL
            details:
              interestMarginBalance: -50000
              availableCashBalance: 1500
              vestedBalance: 300000
              currentLoanBalance: 0
              availableBalanceAmount: 1000
            asset:
              currentBalance: 1000
              twoMonthAverage: -1865.96
              sixMonthAverage: -7616.01
              beginningBalance: -17795.6
        balanceSummary:
          - currency: AUD
            currentBalance: 1000
            twoMonthAverage: -1865.96
            sixMonthAverage: -7616.01
            beginningBalance: -17795.6
    VOIReportExample:
      summary: VOI Report
      value:
        id: u4hstnnaewetr-voi
        customerId: 1000006677
        title: Mastercard Open Banking Verification of Income
        requesterName: Mastercard Open Banking Test API
        requestId: sfb7xp4wer
        type: voi
        status: success
        createdDate: 1588350269
        customerType: active
        startDate: 1572625469
        endDate: 1588350269
        days: 200
        seasoned: true
        institutions:
          id: 101732
          name: FinBank
          urlHomeApp: https://finbank.prod.fini.city/CCBankImageMFA/login.jsp
          accounts:
            id: 1000023996
            number: '1111'
            name: Checking
            type: checking
            aggregationStatusCode: 0
            incomeStreams:
              id: dens28i3vsch-voi1
              name: none
              status: ACTIVE
              estimateInclusion: MODERATE
              confidence: 70
              cadence:
                startDate: 1577986990
                stopDate: 1587986990
                days: 14
              netMonthly:
                - month: 1522562400
                  net: 2004.77
              netAnnual: 110475.7
              projectedNetAnnual: 0
              estimatedGrossAnnual:
              projectedGrossAnnual: 151609
              averageMonthlyIncomeNet: 9206.31
              incomeStreamMonths: 18
              transactions:
                - id: 100000527471
                  amount: 22.21
                  postedDate: 1582286400
                  description: FINICITY INC PAYROLL
                  memo: Finicity amount credit
                  institutionTransactionId: '100000000'
                  category: Paycheck
            balance: 714.16
            averageMonthlyBalance: 720.75
            transactions: []
            availableBalance: 714.16
            currentBalance: 714.16
            beginningBalance: 714.77
            miscDeposits:
              - id: 100000527471
                amount: 22.21
                postedDate: 1582286400
                description: FINICITY INC PAYROLL
                memo: Finicity amount credit
                institutionTransactionId: '100000000'
                category: Paycheck
        income:
          - confidenceType: MODERATE
            netMonthly:
              - month: 1522562400
                net: 2004.77
            incomeEstimate:
              netAnnual: 1000.12
              projectedNetAnnual: 1500.23
              estimatedGrossAnnual: 2000.12
              projectedGrossAnnual: 2500.23
    CashFlowBusinessReportExample:
      summary: Cash Flow Report - Business
      value:
        id: sd1j45yn37wr-cfrb
        customerType: testing
        customerId: 5555
        requestId: xtw6tjemt6
        title: Mastercard Open Banking Cash Flow Report Business
        requesterName: Mastercard Open Banking Test API
        type: cfrb
        status: success
        createdDate: 1575666823
        startDate: 1512594823
        endDate: 1575666823
        days: 730
        seasoned: true
        institutions:
          - id: '102105'
            name: FinBank Profiles
            urlHomeApp: http://www.finbank.com
            accounts:
              - id: '6681984'
                ownerName: PATRICK & LORRAINE PURCHASER
                ownerAddress: 7195 BELMONT ST. PARLIN, NJ 08859
                name: Checking
                number: XX1111
                type: checking
                aggregationStatusCode: '0'
                currentBalance: 100000
                availableBalance: 1000
                balanceDate: 1614880526
                transactions:
                  - id: '100671406523'
                    amount: -81.7
                    postedDate: 1614859200
                    description: TMOBILE*AUTO PAY
                    normalizedPayee: T-Mobile
                    institutionTransactionId: '0000000000'
                    category: Mobile Phone
                cashFlowBalance:
                  monthlyCashFlowBalances:
                    - month: 1551423600
                      minDailyBalance: -65894.54
                      maxDailyBalance: -62196.98
                      averageDailyBalance: -64594.87
                      standardDeviationOfDailyBalance: '1099'
                      numberOfDaysNegativeBalance: '28'
                      numberOfDaysPositiveBalance: '0'
                  minDailyBalance: 3479.39
                  maxDailyBalance: 3479.39
                  twelveMonthAverageDailyBalance: 3479.39
                  sixMonthAverageDailyBalance: 3479.39
                  twoMonthAverageDailyBalance: 3479.39
                  twelveMonthStandardDeviationOfDailyBalance: '20'
                  sixMonthStandardDeviationOfDailyBalance: '20'
                  twoMonthStandardDeviationOfDailyBalance: '20'
                  numberDaysNegativeBalance: '6'
                  numberOfDaysPositiveBalance: '0'
                cashFlowCredit:
                  monthlyCashFlowCredits:
                    - month: 1551423600
                      numberOfCredits: '3'
                      totalCreditsAmount: 5000.29
                      largestCredit: 2182.34
                      numberOfCreditsLessTransfers: '3'
                      totalCreditsAmountLessTransfers: 5000.29
                      averageCreditAmount: 1666.76
                      estimatedNumberOfLoanDeposits: '0'
                      estimatedLoanDepositAmount: 0
                  twelveMonthCreditTotal: 1200
                  twelveMonthCreditTotalLessTransfers: 1000
                  sixMonthCreditTotal: 750
                  sixMonthCreditTotalLessTransfers: 500
                  twoMonthCreditTotal: 150
                  twoMonthCreditTotalLessTransfers: 100
                cashFlowDebit:
                  monthlyCashFlowDebits:
                    - month: 1551423600
                      numberOfDebits: '12'
                      totalDebitsAmount: -2063.43
                      largestDebit: -953.73
                      numberOfDebitsLessTransfers: '12'
                      totalDebitsAmountLessTransfers: -2063.43
                      averageDebitAmount: -171.95
                  twelveMonthDebitTotal: 1200
                  twelveMonthDebitTotalLessTransfers: 1000
                  sixMonthDebitTotal: 750
                  sixMonthDebitTotalLessTransfers: 500
                  twoMonthDebitTotal: 150
                  twoMonthDebitTotalLessTransfers: 100
                cashFlowCharacteristic:
                  monthlyCashFlowCharacteristics:
                    - month: 1551423600
                      totalCreditsLessTotalDebits: 2936.86
                      totalCreditsLessTotalDebitsLessTransfers: 2936.86
                      averageTransactionAmount: 195.79
                  averageMonthlyNet: 2350
                  averageMonthlyNetLessTransfers: 1000
                  twelveMonthTotalNet: 12500
                  twelveMonthTotalNetLessTransfers: 12400
                  sixMonthAverageTotalCreditsLessTotalDebits: 55555
                  sixMonthAverageTotalCreditsLessTotalDebitsLessTransfers: 55555
                  twoMonthAverageTotalCreditsLessTotalDebits: 55555
                  twoMonthAverageTotalCreditsLessTotalDebitsLessTransfers: 55555
        cashFlowBalanceSummary:
          monthlyCashFlowBalanceSummaries:
            - month: 1551423600
              minDailyBalance: -65894.54
              maxDailyBalance: -62196.98
              averageDailyBalance: -64594.87
              standardDeviationOfDailyBalance: '1099'
              numberOfDaysNegativeBalance: '28'
              numberOfDaysPositiveBalance: '0'
          minDailyBalance: 3479.39
          maxDailyBalance: 3479.39
          twelveMonthAverageDailyBalance: 3479.39
          sixMonthAverageDailyBalance: 3479.39
          twoMonthAverageDailyBalance: 3479.39
          twelveMonthStandardDeviationOfDailyBalance: '20'
          sixMonthStandardDeviationOfDailyBalance: '20'
          twoMonthStandardDeviationOfDailyBalance: '20'
          numberOfDaysNegativeBalance: '6'
          numberOfDaysPositiveBalance: '11'
        cashFlowCreditSummary:
          monthlyCashFlowCreditSummaries:
            - month: 1551423600
              numberOfCredits: '3'
              totalCreditsAmount: 5000.29
              largestCredit: 2182.34
              numberOfCreditsLessTransfers: '3'
              totalCreditsAmountLessTransfers: 5000.29
              averageCreditAmount: 1666.76
              estimatedNumberOfLoanDeposits: '0'
              estimatedLoanDepositAmount: 0
          twelveMonthCreditTotal: 1200
          twelveMonthCreditTotalLessTransfers: 1000
          sixMonthCreditTotal: 750
          sixMonthCreditTotalLessTransfers: 500
          twoMonthCreditTotal: 150
          twoMonthCreditTotalLessTransfers: 100
        cashFlowDebitSummary:
          monthlyCashFlowDebitSummaries:
            - month: 1551423600
              numberOfDebits: '12'
              totalDebitsAmount: -2063.43
              largestDebit: -953.73
              numberOfDebitsLessTransfers: '12'
              totalDebitsAmountLessTransfers: -2063.43
              averageDebitAmount: -171.95
          twelveMonthDebitTotal: -1200
          twelveMonthDebitTotalLessTransfers: -1000
          sixMonthDebitTotal: -750
          sixMonthDebitTotalLessTransfers: -500
          twoMonthDebitTotal: -150
          twoMonthDebitTotalLessTransfers: -100
        cashFlowCharacteristicsSummary:
          monthlyCashFlowCharacteristicsSummaries:
            - month: 1551423600
              totalCreditsLessTotalDebits: 2936.86
              totalCreditsLessTotalDebitsLessTransfers: 2936.86
              averageTransactionAmount: 195.79
          averageMonthlyNet: 1250
          averageMonthlyNetLessTransfers: 1000
          twelveMonthTotalNet: 12500
          twelveMonthTotalNetLessTransfers: 12400
          sixMonthAverageTotalCreditsLessTotalDebits: 55555
          sixMonthAverageTotalCreditsLessTotalDebitsLessTransfers: 55555
          twoMonthAverageTotalCreditsLessTotalDebits: 55555
          twoMonthAverageTotalCreditsLessTotalDebitsLessTransfers: 55555
        possibleLoanDeposits:
          - id: '102105'
            name: FinBank Profiles
            urlHomeApp: http://www.finbank.com
            accounts:
              - id: '6681984'
                ownerName: PATRICK & LORRAINE PURCHASER
                ownerAddress: 7195 BELMONT ST. PARLIN, NJ 08859
                name: Checking
                number: XX1111
                type: checking
                aggregationStatusCode: '0'
                currentBalance: 100000
                availableBalance: 1000
                balanceDate: 1614880526
                transactions:
                  - id: '100671406523'
                    amount: -81.7
                    postedDate: 1614859200
                    description: TMOBILE*AUTO PAY
                    normalizedPayee: T-Mobile
                    institutionTransactionId: '0000000000'
                    category: Mobile Phone
    CustomerAccountsResponseExample:
      value:
        accounts:
          - id: 8502103
            number: xxxx8555
            accountNumberDisplay: 8555
            realAccountNumberLast4: 8555
            name: Spend account
            balance: 117.33
            type: transactionAndSavings
            aggregationStatusCode: 0
            status: active
            customerId: 1325621
            institutionId: 2002034
            balanceDate: 1696809841
            aggregationSuccessDate: 1696809841
            aggregationAttemptDate: 1696809841
            createdDate: 1696551311
            lastUpdatedDate: 1696590914
            currency: AUD
            lastTransactionDate: 1696809840
            institutionLoginId: 1249150
            detail:
              interestRate: 15.789
            accountNickname: Spend account
            marketSegment: personal
    CustomerAccountResponseExample:
      value:
        id: 8502103
        number: xxxx8555
        accountNumberDisplay: 8555
        realAccountNumberLast4: 8555
        name: Spend account
        balance: 117.33
        type: transactionAndSavings
        aggregationStatusCode: 0
        status: active
        customerId: 1325621
        institutionId: 2002034
        balanceDate: 1696809841
        aggregationSuccessDate: 1696809841
        aggregationAttemptDate: 1696809841
        createdDate: 1696551311
        lastUpdatedDate: 1696590914
        currency: AUD
        lastTransactionDate: 1696809840
        institutionLoginId: 1249150
        detail:
          interestRate: 15.789
        accountNickname: Spend account
        marketSegment: personal
    AccountOwnerResponseExample:
      value:
        holders:
          - ownerName: John Smith
            firstName: John
            lastName: Smith
            addresses:
              - ownerAddress: 100 Arthur Street
                type: Home
                line1: 100 Arthur Street
                line2: Level 8
                line3: GA 30518
                city: Sydney
                state: NSW
                postalCode: 2060
            emails:
              - email: someone@test.com
                emailType: Personal
            phones:
              - type: cell
                phone: 61-3-1234-1234
    AvailablebalanceLiveByAccountIdResponseExample:
      value:
        id: 1005061234
        realAccountNumberLast4: 5678
        availableBalance: 173.47
        availableBalanceDate: 1607450357
        clearedBalance: 222.25
        clearedBalanceDate: 1607450357
        aggregationStatusCode: 0
        currency: AUD
    TransactionByAccountIdExample:
      value:
        id: 284040226
        amount: -12.79
        accountId: 8582123
        customerId: 1325621
        status: active
        description:
          WOOLWORTHS/GRAF AVE & MARWEST RYDE AU\\\\nVisa|Google Pay|6808
        institutionTransactionId: 9108077
        type: transferOutgoing
        postedDate: 1696788774
        transactionDate: 1696788774
        createdDate: 1696842852
    TransactionsByAccountsExample:
      value:
        found: 200
        displaying: 1
        moreAvailable: true
        fromDate: 1000000000
        toDate: 1697149082
        sort: desc
        transactions:
          - id: 284040226
            amount: -12.79
            accountId: 8582123
            customerId: 1325621
            status: active
            description:
              WOOLWORTHS/GRAF AVE & MARWEST RYDE AU\\\\nVisa|Google Pay|6808
            institutionTransactionId: 9108077
            type: transferOutgoing
            postedDate: 1696788774
            transactionDate: 1696788774
            createdDate: 1696842852
    ReportDataVoaExample:
      value:
        id: u4hstnnak45g
        customerType: active
        customerId: 1005061234
        requestId: cjqm4wtdcn
        requesterName: Mastercard Open Banking Test API
        createdDate: 1607450357
        title: Mastercard Open Banking Verification of Assets
        consumerId: 0bf46322c167b562e6cbed9d40e19a4c
        type: voa
        status: inProgress
        constraints:
          accountIds:
            - '5011648377'
            - '5011648378'
            - '5011648379'
          reportCustomFields:
            - label: loanID
              value: '123456'
              shown: true
          fromDate: 1607450357
    ReportDataVoiExample:
      value:
        id: u4hstnnak45g-voi
        customerType: active
        customerId: 1005061234
        requestId: cjqm4wtdcn
        requesterName: Mastercard Open Banking Test API
        createdDate: 1607450357
        title: Mastercard Open Banking Verification of Income
        consumerId: 0bf46322c167b562e6cbed9d40e19a4c
        type: voi
        status: inProgress
        constraints:
          accountIds:
            - '5011648377'
            - '5011648378'
            - '5011648379'
          reportCustomFields:
            - label: loanID
              value: '123456'
              shown: true
          fromDate: 1607450357
          incomeStreamConfidenceMinimum: 50
    ReportDataCfrbExample:
      value:
        id: u4hstnnak45g-cfrb
        customerType: active
        customerId: 1005061234
        requestId: cjqm4wtdcn
        requesterName: Mastercard Open Banking Test API
        createdDate: 1607450357
        title: Mastercard Open Banking Cash Flow Report Business
        type: cfrb
        status: inProgress
        constraints:
          accountIds:
            - '5011648377'
            - '5011648378'
            - '5011648379'
          reportCustomFields:
            - label: loanID
              value: '123456'
              shown: true
          fromDate: 1607450357
    AccountTypeNotSupportedExample:
      value:
        code: 14020
        message: 'Bad request. (Account type not supported).'
    AppResponseExample:
      value:
        found: 2
        displaying: 2
        moreAvailable: false
        applications:
          - applicationId: 234dsfdsf-535fdgdtrtr-546464564
            status: Active
            appName: Mvelopes
            appDescription:
              'The app that makes your budgeting experience awesome'
            legalEntityName: 'Budget Maker'
            appUrl: 'https://myBudgetMaker.com'
            policyUrl: 'https://myBudgetMakerCdrPolicy.com'
            dataComplaintsEmailAddress: 'datasupport@budgetmaker.com'
            image: 'PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgICAKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB2ZXJzaW9uPSIxLjEiCiAgIHZpZXdCb3g9IjAgMCAwIDAiCiAgIGhlaWdodD0iMCIKICAgd2lkdGg9IjAiPgogICAgPGcvPgo8L3N2Zz4K'
            copyrightLogo: 'PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgICAKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB2ZXJzaW9uPSIxLjEiCiAgIHZpZXdCb3g9IjAgMCAwIDAiCiAgIGhlaWdodD0iMCIKICAgd2lkdGg9IjAiPgogICAgPGcvPgo8L3N2Zz4K'
            businessName: 'Mastercard.'
            fromEmail: 'no-reply@mastercard.com'
            replyToEmail: 'reply@mastercard.com'
            softwareId: 'afa07bc3-7edf-4690-8fea-829e2613671f'
            orgId: 'a2a1a8d6-f2c2-4d98-906d-6e74e08ad1d8'
            note: Auto approved
            jwksUrl: 'https://www.budget-application.com.au/jwks/de901e6a-4b7c-4d98-906d-6e74e08ad1d8'
            dataRecipientRevocationUrl: 'https://www.budget-application.com.au/arrangements/revoke'
            dataRecipientBaseUrl: 'https://www.budget-application.com.au'
            dataRecipientRedirectUrl: 'https://www.budget-application.com.au/oauth/v1/callback'
            createdDate: 2020-07-30T16:11:23Z
            modifiedDate: 2020-07-30T16:11:23Z
            submittedDate: 2020-07-30T16:11:23Z
          - applicationId: 32edsfdsf-535dsdsrtr-546dsaes4
            status: Deleted
            appName: TestApp
            note: Duplicate deleted
            appDescription: 'testing application'
            legalEntityName: 'Budget Maker'
            appUrl: 'https://myBudgetMaker.com'
            policyUrl: 'https://myBudgetMakerCdrPolicy.com'
            dataComplaintsEmailAddress: 'datasupport@budgetmaker.com'
            image: 'PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgICAKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB2ZXJzaW9uPSIxLjEiCiAgIHZpZXdCb3g9IjAgMCAwIDAiCiAgIGhlaWdodD0iMCIKICAgd2lkdGg9IjAiPgogICAgPGcvPgo8L3N2Zz4K'
            copyrightLogo: 'PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgICAKICAgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB2ZXJzaW9uPSIxLjEiCiAgIHZpZXdCb3g9IjAgMCAwIDAiCiAgIGhlaWdodD0iMCIKICAgd2lkdGg9IjAiPgogICAgPGcvPgo8L3N2Zz4K'
            businessName: 'Mastercard.'
            fromEmail: 'no-reply@mastercard.com'
            replyToEmail: 'reply@mastercard.com'
            softwareId: 'afa07bc3-7edf-4690-8fea-829e2613671f'
            orgId: 'a2a1a8d6-f2c2-4d98-906d-6e74e08ad1d8'
            jwksUrl: 'https://www.budget-application.com.au/jwks/de901e6a-4b7c-4d98-906d-6e74e08ad1d8'
            dataRecipientRevocationUrl: 'https://www.budget-application.com.au/arrangements/revoke'
            dataRecipientBaseUrl: 'https://www.budget-application.com.au'
            dataRecipientRedirectUrl: 'https://www.budget-application.com.au/oauth/v1/callback'
            createdDate: 2020-07-30T16:11:23Z
            modifiedDate: 2020-07-30T16:11:23Z
            submittedDate: 2020-07-30T16:11:23Z
    OauthInstitutionsExample:
      value:
        found: 500
        displaying: 2
        moreAvailable: true
        institutions:
          - institutionId: 170716
            isAppRegistered: true
            createdDate: 2020-07-30T16:11:23Z
[...]
